.table,
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 1.2;
}

.table-row {
  background-color: #fff;
}

.table-heading-col,
th {
  //width: 1%;
  white-space: normal;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(223, 230, 236);
  background-color: #dedede;
  text-align: left;
  font-weight: 500;
  cursor: pointer;
  &.disabled {
    cursor: default;
  }
}

.table-col,
td {
  position: relative;
  cursor: default;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(223, 230, 236);
}

.table-actions {
  display: flex;
  align-items: center;
  *:not(:last-child) {
    margin-right: 5px;
  }
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-label {
  margin-right: 10px;
  margin-bottom: 0;
}

.orderByAsc {
  box-shadow: inset 0 -7px 11px -6px rgba(0,0,0,0.75);
}

.orderByDesc {
  box-shadow: inset 0 7px 11px -6px rgba(0,0,0,0.75);
}

.management_paginator {
  margin-top: 15px;
}

.management_paginator span {
  font-size: 18px;
  cursor: pointer;
}

.current_page {
  font-size: 20px;
  font-weight: bold;
}

