.idea/
/node_modules
/public/hot
/public/storage
/public/css/*.css
!public/css/element.css
/public/js/*.js
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant
_ide_helper.php
