body,
html {
  margin: 0;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body * {
  box-sizing: border-box;
  outline: 0;
}

body *.active.focus,
body *.active:focus,
body *.focus,
body *:active.focus,
body *:active:focus,
body *:focus {
  outline: none !important;
}

.body {
  font-family: "nudista-web", sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #fff;
  background: #222;
  line-height: 1.5;
  height: 100vh;
}

@media (min-width: 980px) {
  .body {
    font-size: 18px;
  }
}

.clearfix::after,
.clearfix::before {
  display: table;
  clear: both;
  content: "";
}

::-webkit-file-upload-button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

label {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

@media (max-width: 767px) {
  .m-hidden {
    display: none;
  }
}

a {
  text-decoration: none;
  text-transform: inherit;
  color: inherit;
  font-weight: inherit;
}

a:hover,
a:focus {
  color: currentColor;
}

body {
  font-family: "nudista-web", sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

@media (min-width: 980px) {
  body {
    font-size: 16px;
  }
}

.app {
  display: flex;
  flex-direction: column;
}

.pagecontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pagecontent {
  flex: 1 1 auto;
  display: flex;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0%;
}

.main {
  flex: 1 1 auto;
  overflow-y: auto;
}

.pointer {
  cursor: pointer;
}

.el-tabs__nav {
  display: flex;
}

.link {
  color: #409eff;
}

.link:hover,
.link:visited,
.link:active {
  color: #409eff;
}

.link:hover {
  text-decoration: underline;
}

.dotted {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 400px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.management_header_label {
  font-size: 22px;
}

.management_header_auth {
  text-align: right;
  font-size: 14px;
}

.management_list_header {
  font-size: 25px;
  margin-bottom: 15px;
}

.management_label {
  margin: auto;
  font-size: 25px;
}

.management_create_form {
  width: 60%;
  margin: auto;
}

.el-date-editor--datetimerange.management_datetime_range_field,
.el-date-editor--datetimerange.el-input__inner.management_datetime_range_field {
  width: 100%;
}

.management-image {
  width: 150px;
  height: 150px;
}

.management-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -10px 20px;
}

.management-title {
  padding: 10px;
  margin: 0;
}

.management-controls {
  display: flex;
  padding: 10px;
}

.management-controls > *:not(:last-child) {
  margin-right: 10px;
}

.form-error {
  font-size: 10px;
  font-family: "Roboto-Mono", "Roboto", sans-serif;
  color: #e74646;
  text-transform: uppercase;
  left: 0;
}

.header {
  flex: 0 0 auto;
}

.header.el-header {
  position: relative;
  background-color: #545c64;
  color: #fff;
  box-shadow: 0 0 17px 0.7px rgba(0, 0, 0, 0.5);
  line-height: 1;
  z-index: 10;
}

@media (min-width: 980px) {
  .header.el-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-logo {
  width: 200px;
  padding: 15px;
  margin-bottom: 30px;
}

@media (min-width: 980px) {
  .header-logo {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.header-logo-img {
  width: 100%;
}

.header-link {
  margin-left: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.header-link:hover {
  color: #ffd04b;
}

.footer {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  position: relative;
  z-index: 8;
  border-top: 1px solid #d7d7d7;
}

.sidebar {
  width: 250px;
  position: relative;
  z-index: 9;
  box-shadow: 0 0 17px 0.7px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.menu.el-menu {
  flex: 1 1 auto;
  padding: 20px 0;
  border-right: none;
}

.menu .menu-item {
  padding: 0 !important;
  color: inherit;
  font-size: 16px;
}

.menu .menu-item:hover:not(.is-active) {
  color: #ffd04b;
  background-color: transparent;
}

.menu .menu-item.is-active {
  background-color: #ffd04b;
  color: #fff;
  cursor: default;
}

.menu-link {
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: inherit;
}

.is-active .menu-link {
  cursor: default;
}

.menu-back {
  display: flex;
  align-items: center;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
  background-color: #545c64;
  transition: 0.3s ease;
}

.menu-back:hover:not(.is-active) {
  background-color: #434a50;
  color: #ffd04b;
}

.menu-back-icon {
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  font-weight: bold;
}

.table,
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  line-height: 1.2;
}

.table-row {
  background-color: #fff;
}

.table-heading-col,
th {
  white-space: normal;
  padding: 15px 10px;
  border-bottom: 1px solid #dfe6ec;
  background-color: #dedede;
  text-align: left;
  font-weight: 500;
  cursor: pointer;
}

.table-heading-col.disabled,
th.disabled {
  cursor: default;
}

.table-col,
td {
  position: relative;
  cursor: default;
  padding: 5px 10px;
  border-bottom: 1px solid #dfe6ec;
}

.table-actions {
  display: flex;
  align-items: center;
}

.table-actions *:not(:last-child) {
  margin-right: 5px;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-label {
  margin-right: 10px;
  margin-bottom: 0;
}

.orderByAsc {
  box-shadow: inset 0 -7px 11px -6px rgba(0, 0, 0, 0.75);
}

.orderByDesc {
  box-shadow: inset 0 7px 11px -6px rgba(0, 0, 0, 0.75);
}

.management_paginator {
  margin-top: 15px;
}

.management_paginator span {
  font-size: 18px;
  cursor: pointer;
}

.current_page {
  font-size: 20px;
  font-weight: bold;
}

.modal {
  font-family: "nudista-web", sans-serif;
  color: #222;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  height: 100%;
  overflow-y: auto;
  padding: 15px;
}

@media (min-width: 768px) {
  .modal-wrapper {
    padding: 60px;
  }
}

.modal-container {
  position: relative;
  margin: 0 auto;
  padding: 45px 35px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .modal-container {
    padding: 80px 55px;
    max-width: 650px;
  }
}

.modal-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 0;
  color: #222;
  cursor: pointer;
}

@media (min-width: 980px) {
  .modal-close {
    right: 21px;
    top: 21px;
  }
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

